
#mainStage {
   -fx-background-size:cover;
   -fx-background-image: url("/Image/background.jpg");
}

#title{
     -fx-font: 30px Tahoma;
        -fx-fill: #660126;

}
#mainStage Label {
    -fx-text-fill: black;

    -fx-font-size: 20px;
}